@font-face {
    font-family: cocosharpExtrabold;
    src: url(../fonts/Coco-Sharp-Extrabold-trial.ttf);
}

* {
    margin: 0;
    border: 0;
}

.desktop {
    display: none;
}

.container {
    display: flex;
}

.website-title {
    font-family: cocosharpExtrabold, sans-serif;
}

.tesla {
    border-radius: 20px;
}