@font-face {
    font-family: cocosharpExtrabold;
    src: url(../fonts/Coco-Sharp-Extrabold-trial.ttf);
}

@font-face {
    font-family: cocosharpRegular;
    src: url(../fonts/Coco-Sharp-Regular-trial.ttf);
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

* {
    margin: 0;
    border: 0;
    background-color: #fff;
    color: #303030;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.website-title {
    font-family: cocosharpExtrabold, sans-serif;
    margin-top: 3.87rem;
    font-size: 2.25rem;
    letter-spacing: 0.0225rem;
    color: #fe5b3e;
}

.website-border-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.69rem;
    border: 1px solid rgba(254, 91, 62, 0.1);
    border-radius: 10.5px;
    padding: 0.4em;
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
}

.tesla {
    border-radius: 20px;
    margin: 3rem 2rem 5rem 2rem;
    width: 19.4375rem;
    height: 37rem;
    flex-shrink: 0;
}

.color-orange {
    color: #fe5b3e;
}

.website-title-body {
    font-size: 2.1rem;
    font-family: cocosharpExtrabold, sans-serif;
    margin-bottom: 1.5rem;
    line-height: 4.625rem;
    letter-spacing: 0.03rem;
}

.website-title-body h4 {
    font-size: 1.25rem;
    line-height: normal;
    margin-top: 2rem;
    font-weight: 400;
}

.website-subtitle-body {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
    font-family: cocosharpRegular;
    font-style: normal;
}

.website-subtitle-body p {
    opacity: 0.4;
    margin-bottom: 0.2rem;
}



.website-subtitle-body h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

.website-subtitle-body h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 1.2rem;
    opacity: 0.6;
    margin-top: 8rem;
    letter-spacing: 0.075rem;
}

.website-subtitle-body h5 {
    font-size: 2.25rem;
    font-family: cocosharpExtrabold, sans-serif;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 1rem;
    line-height: 2.875rem;
    letter-spacing: 0.0225rem;
}

.website-avaliation-image {
    margin-right: 1.13rem;
}

.website-avaliation-star {
    display: flex;
    flex-direction: row;
    margin-top: 1.1rem;
}

.website-avaliation-star img {
    margin-right: 0.37rem;

}

.website-text-body {
    font-family: cocosharpRegular, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    opacity: 0.8;
}

.secao1 {
    margin-left: 1.75rem;
    margin-right: 2rem;
}

.secao2 {
    margin-left: 2.06rem;
    margin-right: 2.06rem;
}

.secao3 {
    margin-left: 0.81rem;
    margin-right: 0.81rem;
    margin-top: 1rem;
}

.website-avaliation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
    margin-top: 1.5rem;
}

.website-box-gray {
    background-color: #f3f5f7;
    border-radius: 24px;
    width: 21.8125rem;
    height: 22.8125rem;
    flex-shrink: 0;
    font-family: cocosharpRegular, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.website-box-gray h3 {
    background-color: #f3f5f7;
    font-weight: 900;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
}

.website-box-gray p {
    background-color: #f3f5f7;
    text-align: center;
    padding-left: 3.81rem;
    padding-right: 3.87rem;
}

.website-circle-red {
    background-color: #fe5b3e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 8em;
    flex-shrink: 0; 
}

.website-circle-red img {
    background-color: #fe5b3e;
}